main {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #444D6A;
  color: #FEFFFF;
  transition: all 200ms ease-in-out;
}

.calc-app__container {
  width: 520px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.calc-app__header {
  width: 100%;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.calc-screen__box, .calc-app__buttons__box{
  padding: 8px;
  width: 100%;
}

.calc-screen__box--error {
  transition: error 800ms ease-in-out;
}

@keyframes error {
  0% {
    transform: translateX(0px);
  }

  25% {
    transform: translateX(10px);
  }

  75% {
    transform: translateX(-10px);
  }

  100% {
    transform: translateX(0px);
  }
}

.calc-app__buttons__container {
  padding: 12px;
  border-radius: 10px;
  width: 100%;
  background-color: #2F364C;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}